.dont_miss{
    transform: scale(0.5) rotateX(180deg);
}

@media (prefers-reduced-motion: no-preference) {
    .dont_miss{
      transition: opacity 3s ease-in, transform 1.5s ease;
    }
  }
  
  
  .main_page_transition {
      opacity: 1;
      transform: none;
  }