.f_1{
    transform: translateX(-150px);
}

.f_2{
  transform: translateY(150px);
}

.f_3{
  transform: translateX(150px);
}

.f_4{

  transform: scale(1.5);
}

@media (prefers-reduced-motion: no-preference) {
    .f_1,.f_2,.f_3,.f_4{
      transition: opacity 3s ease-in, transform 1.5s ease;
    }
  }
  
  
  .main_page_transition {
      opacity: 1;
      transform: none;
  }