/* OFFER */

.card1{
    transform: translateX(50px);

}

.card2{
    transform: translateY(50px);

}

.card3{
    transform: translateX(-50px);

}

@media (prefers-reduced-motion: no-preference) {
    .card1,.card2,.card3 {
      transition: opacity 3s ease-in, transform 1.5s ease;
    }
  }
  
  
  .main_page_transition {
      opacity: 1;
      transform: none;
  }