/* MAIN PAGE */
.main_page_img{
    transform: scale(0.5);
    
    
}

@media (prefers-reduced-motion: no-preference) {
    .main_page_img {
      transition: opacity 3s ease-in, transform 1.5s ease;
    }
  }
  
  
  .main_page_transition {
      opacity: 1;
      transform: none;
  }


  
